@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }

  .fade-up-initial {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }

  .fade-up-animate {
    opacity: 1;
    transform: translateY(0);
  }
}

:root {
  --body-6-font-family: "Poppins", Helvetica;
  --body-6-font-size: 16px;
  --body-6-font-style: normal;
  --body-6-font-weight: 400;
  --body-6-letter-spacing: 0px;
  --body-6-line-height: normal;
  --foundation-blackblack-100: rgba(180, 180, 180, 1);
  --foundation-blackblack-400: rgba(61, 61, 61, 1);
  --foundation-bluelight-active: rgba(212, 203, 255, 1);
  --foundation-bluenormal-active: rgba(93, 69, 204, 1);
  --foundation-bluenormal-hover: rgba(104, 77, 230, 1);
  --foundationbluenormal: rgba(116, 86, 255, 1);
  --gray-200: rgba(228, 231, 236, 1);
  --heading-2-font-family: "Poppins", Helvetica;
  --heading-2-font-size: 36px;
  --heading-2-font-style: normal;
  --heading-2-font-weight: 600;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: normal;
  --heading-6-font-family: "Poppins", Helvetica;
  --heading-6-font-size: 20px;
  --heading-6-font-style: normal;
  --heading-6-font-weight: 600;
  --heading-6-letter-spacing: 0px;
  --heading-6-line-height: normal;
  --pr-lavender: rgba(116, 86, 255, 1);
  --shadow:
    0px 100px 80px 0px rgba(0, 0, 0, 0.1), 0px 42px 33px 0px rgba(0, 0, 0, 0.1), 0px 22px 18px 0px rgba(
      0,
      0,
      0,
      0.1
    ), 0px 13px 10px 0px rgba(0, 0, 0, 0.1), 0px 7px 5px 0px rgba(0, 0, 0, 0.03), 0px 3px 2px 0px rgba(
      0,
      0,
      0,
      0.02
    );
  --tr-lavender: rgba(166, 147, 255, 1);
  --white: rgba(255, 255, 255, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    scroll-behavior: smooth;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
